@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



html,body{
    font-family: poppins;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    
} 

/*----------- team ------------*/

#team {
    background:rgb(249, 247, 237) ;
     color: rgb(7, 7, 7);
     overflow: hidden;
     padding:10px 0 0;
     transition: all 0.35s ease 0s;
     
 }
 .t-box {
     background: rgb(255, 254, 254) none repeat scroll 0 0;
     color: #000;
     float: left;
     padding: 0 0 22px;
     text-align: center;
     width: 100%;
 }
 .t-box a{
    text-decoration: none;
    color: white;
 }
 .timg > img {
     width: 100%;
 }
 .t-box .social-links {
 padding:0px;
 margin:20px 0 0 0px;  
 }
 .t-box .social-links > li {
     display: inline;
     font-size: 25px;
     padding: 8px;
 }
 .t-box .social-links a {
     color: #ffa100;
 }
 .t-box .social-links a:hover {
     color: #333;
 }
 .timg {
     position: relative;
       transition: all 0.35s ease 0s;
 }
 .timg:hover::after {
     background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
 }
 
h2 {
    padding: 50px 0 25px;
    position: relative;
    text-align: center;
    width: 100%;
}
 h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: 9px;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
	left:0;
}
h2::after {
    background: #ffa100 none repeat scroll 0 0;
    bottom: 9px;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 999;
}
#about p {
    font-size: 16px;
    padding: 10px 0;
    text-align: left;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    margin-top: 50px;
    background: url("../img/header3.jpg") center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
  }
  .counts::before {
    content: "";
    position: absolute;
    background: rgba(17, 17, 17, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .counts .title {
    position: relative;
    color: #fff;
    margin-bottom: 40px;
  }
  .counts .title h3 {
    font-size: 36px;
    font-weight: 700;
  }
  .counts .counters span {
    font-size: 48px;
    display: block;
    font-weight: 700;
    color: #ffa100;
  }
  .counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #fff;
  }
  .card a{
      color: #ffa100;
      list-style: none;
  }

  .plus:hover{
      color: sandybrown;
  }
  .card-title{
      color: #ffa100;

  }






  
  
